* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}
.wrapper {
  width: 800px;
  height: 1096px;
  display: flex;
  flex-direction: column;
}
.wrapper > div {
  display: flex;
}
header {
  width: 100%;
  border-bottom: 4px solid #e7d409;
}
header img {
  float: right;
}
nav {
  background: url(../images/back.jpg);
}
nav ul {
  width: 180px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li a {
  padding: 10px;
  text-decoration: none;
}
nav li {
  padding: 10px 5px 10px 5px;
  margin: 0px 10px 0px 10px;
  border-bottom: 1px solid #221a0f;
}
nav li:hover {
  background-color: #ddd;
  color: black;
}
.content {
  padding-left: 15px;
}
.content .preserving,
.content .basic {
  float: left;
}
.content h2 {
  color: #eebb12;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content p {
  color: rgb(232, 54, 232);
}
.content .basic {
  float: right;
  margin-top: 15px;
  border: 5px solid #eebb12;
  color: rgb(192, 17, 186);
}
.content .basic ul {
  padding-left: 40px;
  padding-bottom: 10px;
}
footer {
  color: #eebb12;
  border-top: 3px solid #eebb12;
  margin-top: 15px;
}
